.addTask {
  /* Sample */
  padding: 1%;
  font-size: xx-large;


}
.addinput{
width:80%;
border:none;
font-size:x-large;
}
.addbtn{
color: #7c96f3;
border: none;
background-color: inherit;
font-size: 30px;
font-weight: bolder;
}

